
*{
  margin: 0;
  padding: 0;
}

.header{
  height: 85vh;
  background: black;
  background-image: url('background.jpg');
  background-size: cover;
}


.portfolio{
  height: 120vh;
  background-image: url('book2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-text{
  margin-bottom: 10px;
}


.content{
  height: 100vh;
  color: rgb(236, 117, 117);
  background-color: rgb(238, 121, 121);
}

.navbar-style{
  position: fixed;
  box-shadow: 0 5px 5px rgb(242, 243, 245);
  background: black;
}

.logo{
  height: 48px;
  padding: 0px 10px;
}

.icon-bar{
  background: whitesmoke;
}

li a{
  color: whitesmoke;
  font-size: 20px;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}



.big-text{
  font-size: 25px;
  margin: 20px 0;
  color: darkorange;
  letter-spacing: 2px;
}

.card-body{
  font-size: 16px;
  padding: 10px 0 20px 0;
  box-shadow: 0 5px 5px rgb(16, 19, 26);
  background-color: white;
}

.card{
  padding: 20px 0 15px 0;
}

.card-content{
  margin-left: 20px;
  color: black;
}

.card-img-top{
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 175px;
}


.normal{
  padding: 50px 0 0 0;
  letter-spacing: 4px;
}

h1.small{
  margin-bottom: 20px;
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.white{
  color: white;
}

.black{
  color: black;
}

.p-normal{
  color: white;
  letter-spacing: 2px;
}

a.btn{
  margin-top: 20px;
  width: 180px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  background-color: lime;
  color: rgb(14, 11, 11);
  font-weight: bolder;
  font-size: 16px;
  box-shadow: 2px 2px rgb(88, 219, 110);
}

a.btn:hover{
  background-color: linen;
}
/* 

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}
section.cms-boxes .cms-features {
  background-color: #b70457;
  background-size: cover;
}
section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}
section.cms-boxes .small-box, section.cms-boxes .large-box {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
section.cms-boxes .cms-boxes-items h3 {
  font-size: 35px;
  color: #fff;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
  color: #fff;
}
section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}
section.cms-boxes .cms-features {
  background-color: #b70457;
  background-size: cover;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}
section.cms-boxes .cms-security {
  background-color: #0489b7;
}
section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color: rgb(66, 16, 88);
}
section.cms-boxes .cms-scalability {
  background: url("background.jpg") 0 0 no-repeat;
  background-size: cover;
}
section.cms-boxes .cms-boxes-outer {
  text-align: left;
  margin-bottom: 6px;
  padding: 0 3px;
}
section.cms-boxes .cms-built {
  background: url(https://www.solodev.com/assets/tiles/customer-service.jpg) 0 0 no-repeat;
  background-size: cover;
}
section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color: rgb(66, 16, 88);
}
section.cms-boxes .cms-boxes-items:hover {
opacity: .3;
cursor: pointer;
}

 */






