*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: #1d1bad;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media only screen and (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media only screen and (max-width:720px){
    .name h1{
        font-size: 38px;
    }
    .name h2{
        font-size: 24px;
    }
    .container{
        font-size: 20px !important;
    }
}

@media only screen and (min-width:720px) and (max-width:1540px){
    .name h1{
        font-size: 42px;
    }
    .name h2{
        font-size: 30px;
    }
    .container{
        font-size: 24px !important;
    }
}

@media(max-width:858px){
    
    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all.5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
       background: none;
       color: #0082e6;
    }
    #check:checked~ ul{
        left: 0;
    }
    
}

section{
    margin-top: 0;
    background: linear-gradient(180deg,#FFFFFF  50%, #e4e1e1 50%);
    /* background:url(white.jpg) no-repeat; */
    height: auto;
}


  .profile  {
    margin:0 auto;
    width: 300px;
    align-content: center;
  }
  

  .img-profile{
    width: 300px;
    text-align: center;
  }

  .card {
    background-color: white;
    width: 50vw;
    height: 100% ;
    margin: 0 auto;
    padding: 20px 0 0 0;
    border-style: groove;
    border-radius: 5px;
  }

  .container {
    display: block;
    font-size: 24px;
    padding: 40px 30px;
    width:60%;
    text-align: left;
    align-items: center;
    margin: auto;
  }

  .name{
    margin:0 auto;
    text-align: center;
    padding-top: 30px;
  }

h1{
    font-size: 53px;
    letter-spacing: 5px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    padding: 20px 0;
}

h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 30px;
}

@media (max-width:1470px){
    .container{
        width: 80%;
        /* margin: auto 20vw; */
    }
}

.normal{
    font-size: 16px;
    color: black;
    padding: 0 10px 20px 10px;
    line-height: 1.6;
}

.social{
    display: flex;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;  
    
}

.social ul{
    display: flex !important;
}

.social ul li{
    position: relative;
    display: block;
    color: rgb(17, 9, 9);
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

.social ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}

.social ul li:nth-child(1):before{
    background: #4267B2;
}

.social ul li:nth-child(2):before{
    background: rgb(8, 141, 194);
}

.social ul li:nth-child(3):before{
    background: #173777;
}

.social ul li:nth-child(4):before{
    background: #c518bc;
}

.social ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
}

.social ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267b2; 
}

.social ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px rgb(49, 167, 214); 
}
.social ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px #123783; 
}
.social ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px #ce13c4; 
}

.social ul li:nth-child(1):hover{
    color: #3735b8;
    box-shadow: 0 0 15px #3735b8;
    text-shadow: 0 0 15px #3735b8;
}
.social ul li:nth-child(2):hover{
    color:rgb(25, 161, 214);
    box-shadow: 0 0 15px rgb(25, 161, 214);
    text-shadow: 0 0 15px rgb(25, 161, 214);
}

.social ul li:nth-child(3):hover{
    color: #141c8b;
    box-shadow: 0 0 15px #141c8b;
    text-shadow: 0 0 15px #141c8b;
}
.social ul li:nth-child(4):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
} 

 ul li:hover{
    color: #456cba;
    box-shadow: 0 0 15px #4267b2;
    text-shadow: 0 0 15px #4267b2;
}
